target/classes/publisher-impl-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="post:\customer:application\json:customer-publisher-praveen-api-config">
        <set-variable value="#[payload.C_CUSTKEY]" doc:name="Set Variable" doc:id="267dc791-a3b2-4020-92e1-60a97e667d66" variableName="custKey"/>
		<jms:publish doc:name="Publish" doc:id="398694da-94f0-4da2-ae2b-6e9d379bf3cf" config-ref="JMS_Config" destination="${activemq.destination}" persistentDelivery="true" priority="4" timeToLive="24" timeToLiveUnit="DAYS"/>
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: "request processed successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="033c7c31-04eb-4983-85d9-522c2bfbf8a5" message='request received with ID  #[vars.custKey]'/>
    
</flow>
	
	</mule>
